<h2>Presentations</h2>
<ol>
          <li><b>A: Integrating wordlists and regognizers / B: Forth IDEs</b> (30/30) - Anton Ertl<br><p>The search order and the recognizer stack are similar concepts.  Can we unify them.  We finally found a way to do it by turning wordlists into recognizers.</p>

          </li>
          <li><b>Social distancing with net2o: Plans and progress on video conferencing</b> (45) - Bernd Paysan<br><p>Video conferencing systems have (little surprise) the same privacy problems as any other Internet product.  During the pandemics 2020, my motivation to solve this part of the problem was boosted.  Peer 2 peer protocols do well on sharing complete files, but sharing real-time streams is a challenge.  Fortunately, a solvable.</p>

          </li>
          <li><b>VFX UI5 - Welcome to the Cluster</b> (30) - Gerald Wodni<br><p>Get your Machine 2 Machine(M2M) communication needs and corresponding User Interface(UI) online in minutes. After our first Demo of UI5 last year we are releasing it for wider testing. Not only can you run it on your local machine, but create a new instance with a mere click in the cluster (not the cloud ;) )</p>

          </li>
          <li><b>microCore Overview</b> (45 Min) - Klaus Schleisiek<br><p>microCore's characteristics from a computer science point of view</p>

          </li>
          <li><b>A: Extending the VALUE concept / B&amp;C: Short talks</b> (30) - Nick Nelson<br><p>B: Short talk 1 "Preparing for 64 bit Forth"</p>
<p>C: Short talk 2 " A radical Forth alternative to the Windows registry"</p>

          </li>
          <li><b>cc64 - a Small C compiler written in Forth</b> (30min) - Philip Zembrod<br><p>I have recently joined Carsten Strotmann in the effort to renovate the VolksForth code base; my focus so far is the C64/C16 implementation. I had used VolksForth aka UltraForth ~25-30 years ago to implement a Small C compiler on the C64, targeting 6502 systems. Last year I have picked up that project again and open-sourced it (<a href="https://github.com/pzembrod/cc64">https://github.com/pzembrod/cc64</a>) - this is what re-kindled my interest in Forth.</p>
<p>In this talk I want to show some aspects of cc64, reasons for and advantages of writing it in Forth, some design details, a few challenges I faced, and the benefits of migrating to emulators.</p>

          </li>
          <li><b>A: VFX Forth 64 for MacOS and Linux / B: Experience with dual words and recognisers</b> (30/30) - Stephen Pelc<br><p>A: VFX Forth v5.1 has been converted to native 64 bit operation for x64/x86_64/AMD64 CPUs. The Mac and Linux versions are available and the Windows version follows. The MPE cross compilers are also available on 64 bit hosts. I will discuss the horrors of a 64 bit instruction set grafted onto an instruction set that is nearly 50 years old. The impact of converting the existing 20 year old code base is also discussed.</p>
<p>B: The VFX Forthv5.1 kernel incorporates dual-behaviour words and recognisers. This talk discusses our experience over the last year with these changes. Dual-behaviour words are a standards-compliant solution to needing words that have separate interpretation and compilation behaviour. Previous papers called these words NDCS words (non-default compilation semantics). Recognisers are a fashionable solution to providing a user-extensible text interpreter. Our experience converting two OOP packages to use recognisers is discussed.</p>

          </li>
          <li><b>Through the Looking-Glass - Augmenting seedForth for Better Insight</b> (45 min) - Ulrich Hoffmann<br><p>In order to build high quality applications we need to understand the underlying systems. Programmers often inspect key parameters to get insight into their applications' and the underlying systems' working during development and debugging. Forth's interactive nature, usually used ad hoc, is of great help here. 
We would like to propose and demonstrate how to systematically enhance application programs so they provide better insight into their problem domain. Development environments such as seedForth can be augmented accordingly to support this development style.</p>

          </li>
          <li><b>Smart Stacks in VHDL</b> (30) - Andrew Read<br><p>This work originates from our development of seedbed, a minimal VHDL implementation of the seedForth target.  A softcore stack processor needs hardware implementations of stacks.  Smart Stacks are an approach based on abstracted stack operations rather than register level control .  An innovation of smart stacks is that they offer built-in exception handling.</p>

          </li>
          <li><b>Learning Forth with Exercsim.io</b> (20) - Carsten Strotmann<br><p><a href="https://exercism.io/">Excercism.io</a> is a learning platform for programming languages. It was created and is maintained by Github staff and contributors.</p>
<p>Exercism is free to use, offers exercises in 51 languages and soon will have a Forth language tack.</p>
<p>This talk will present the Exercism system, give information on the planned content and will ask for participation.</p>

          </li>
          <li><b>A: Exploring The Wonders of D-Charts / B: Forth In China 1984</b> (30/30) - Bill Ragsdale<br>
          </li>
</ol>
